<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>icon_001.png,今日行程</string>
	<key>2</key>
	<string>icon_002.png,团员管理</string>
	<key>3</key>
	<string>icon_003.png,短信箱</string>
	<key>4</key>
	<string>icon_004.png,行程管理</string>
	<key>5</key>
	<string>icon_005.png,通讯录</string>
	<key>6</key>
	<string>icon_006.png,小工具</string>
	<key>7</key>
	<string>icon_007.png,公司事项</string>
	<key>8</key>
	<string>icon_008.png,报销</string>
	<key>9</key>
	<string>icon_009.png,帮助</string>
</dict>
</plist>
